{{!< default}} {{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}
{{!-- {{> "components/header" }} --}}


{{> "components/featured" showFeatured=@custom.show_featured_posts limit=4}}


{{> "components/cta"}}
<div 
  class=""
  id="hero-container"
> 
  <div class="hero bg-base-200 h-screen">
    <div class="hero-content text-center">
      <div 
        class="max-w-lg p-4 bg-secondary/15 border-2 rounded-sm border-pink-100/25 space-y-4p-4 space-y-4"
        id="hero-1"
      >
        <h1 class="text-5xl font-bold" id="chars-5">
          Psst
        </h1>
        <div id="chars-0125">
          You've found my blog! welcome to my little corner of the internet. I hope you enjoy your stay.
        </div>
        <button class="btn btn-primary"> Check Out Posts </button>
      </div>
    </div>
  </div>
  <div class="hero bg-base-200 h-screen">
    <div class="hero-content text-center">
      <div class="max-w-md" id="hero-2">
        <h1 class="text-5xl font-bold">Hello there</h1>
        <p class="py-6">
          Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
          quasi. In deleniti eaque aut repudiandae et a id nisi.
        </p>
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
  </div>
  <div class="hero bg-base-200 h-screen">
    <div class="hero-content text-center">
      <div class="max-w-md" id="hero-3">
        <h1 class="text-5xl font-bold">Hello there</h1>
        <p class="py-6">
          Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
          quasi. In deleniti eaque aut repudiandae et a id nisi.
        </p>
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
  </div>
</div> 



  {{> "components/post-list" feed="home" postFeedStyle=@custom.post_feed_style showTitle=true
  showSidebar=@custom.show_publication_info_sidebar}}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    // register gspa plugins here
    gsap.registerPlugin(SplitText);
    gsap.registerPlugin(ScrollTrigger);

  /* 
    text split animations: naming convention is type-<chars|words|lines>-<staggerDurration> for id's
    if more nuance is needed, add the object key / value pair to the string ID for reusablity
  */
  let split5 = SplitText.create('#chars-5', {
    type: 'chars',
  })

  gsap.from(split5.chars, { 
    y: 100,
    opacity: 0,
    autoAlpha: 0,
    stagger: .5,
  })

  let split0125 = SplitText.create('#chars-0125', {
    type: 'chars',
  })

  gsap.from(split0125.chars, { 
    y: 100,
    opacity: 0,
    autoAlpha: 0,
    stagger: .0125,
  })

  //animations for lp hero sections
  gsap.set("#hero-1", { 
    opacity: 0, 
    y: 100
  });

  gsap.to("#hero-1", { 
    scrollTrigger: {
      trigger: "#hero-1",
      toggleActions: "restart pause reverse pause",
      marker: true,
    },
    duration: 2,
    opacity: 1,
    y: -100,
    ease: "power2.inOut" 
  });

  gsap.set("#hero-2", { opacity: 0 });

  gsap.to("#hero-2", { 
    scrollTrigger: {
      trigger: "#hero-2",
      toggleActions: "restart pause reverse pause",
      start: "center ",
      marker: true,
    },
    duration: 2,
    opacity: 1,
    ease: "power2.inOut" 
  });

  gsap.set("#hero-3", { opacity: 0 });

  gsap.to("#hero-3", { 
    scrollTrigger: {
      trigger: "#hero-container",
      toggleActions: "restart pause reverse pause",
      start: "bottom bottom",
      marker: true,
    },
    duration: 2,
    opacity: 1,
    ease: "power2.inOut" 
  });



  ScrollTrigger.create({
    trigger: "#hero-container",
    start: "top top",
  })
  });
</script>