{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

{{#post}}

<main class="min-h-[calc(100vh-124px)] bg-base-100 overflow-hidden flex items-center justify-center relative">
  <div class="dither-bg absolute inset-0 z-0"></div>
  <div class="z-10 w-full max-w-4xl px-4">
    <article class="card bg-base-200/50 backdrop-blur-sm ring-1 ring-base-300 shadow-xl overflow-hidden p-4 sm:p-6 md:p-8 my-4 sm:my-8 {{post_class}}">
      {{#match @page.show_title_and_feature_image}}
        <header class="card-body text-center pt-6 sm:pt-8 pb-0">
          <h1 class="text-2xl sm:text-2xl m:text-3xl font-black text-transparent bg-clip-text bg-gradient-to-r from-primary via-accent to-primary mb-4 gh-article-title is-title">{{title}}</h1>
          {{#if custom_excerpt}}
            <p class="text-base sm:text-lg text-base-content opacity-80 max-w-2xl mx-auto mb-6 gh-article-excerpt is-body">{{custom_excerpt}}</p>
          {{/if}}
          <div class="w-full rounded-t-box overflow-hidden">
            {{> "feature-image"}}
          </div>
        </header>
      {{/match}}

      <section class="card-body prose prose-sm sm:prose lg:prose-lg max-w-none px-4 sm:px-6 md:px-12 lg:px-24">
        <div class="[&_p]:py-4 [&_h3]:font-bold [&_h3]:text-xl sm:[&_h3]:text-2xl [&_h3]:text-transparent [&_h3]:bg-clip-text [&_h3]:bg-gradient-to-r [&_h3]:from-primary [&_h3]:via-accent [&_h3]:to-primary [&_h3]:no-underline">
          {{content}}
        </div>
      </section>
    </article>
  </div>
</main>


{{/post}}

<script src="https://cdn.jsdelivr.net/npm/gsap@3"></script>
<script>
 if (window.matchMedia("(min-width: 768px)").matches) {
  gsap.to(".dither-bg", {
    backgroundPosition: '100px 100px',
    duration: 20,
    repeat: -1,
    ease: "linear"
  });
}
</script>